<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guxian.meeting.mapper.MeetingCheckMapper">

    <resultMap id="BaseResultMap" type="com.guxian.meeting.entity.MeetingCheck">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="meetingId" column="meeting_id" jdbcType="BIGINT"/>
            <result property="checkWay" column="check_way" jdbcType="INTEGER"/>
            <result property="beginTime" column="begin_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,meeting_id,check_way,
        begin_time,end_time
    </sql>
</mapper>
