<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guxian.auth.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.guxian.auth.entity.Role">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="role_level" column="role_level" jdbcType="INTEGER"/>
            <result property="role_name" column="role_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_level,role_name
    </sql>
</mapper>
